# Ignore for VS users
.vs/
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# Dataset (might remove later)
dataset/

# Program builds
x64/
parse.cpp

# CMakeLists - Contains a hardcoded directory, see CMakeLists_guide instead
starcrosser_ui/CMakeLists.txt

#Personal Settings
.vscode/settings.json

